body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1{
    text-align: center;
}

.logo{
    display: block;
    margin: 10px auto;
    width: 100px;
}

button{
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
}

table{
    width: 100%;
    background-color: white;
    margin-top: 15px;
}

th, td{
    padding: 8px;
    text-align: center;
}

#eventForm {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
}